.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0;
    grid-auto-rows: 5px;
}

.image-list img {
    width: 100%;
    border: 5px solid #fff;
    border-right: 0;
}
